{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

    <div class="row text-center welcome-msg">
        <h1 style="color: black">Welcome to Space Catalog App</h1>
    </div>
    <hr style="height:1px;border:none;color:#333;background-color:#333;">
    <div class="row text-center">
        <div class="col-md-4 col-md-offset-4">
            <p class="lead">Are you ready to explore amazing categories or create one of your own?</p>
            <a href="/catalog">
                <button class="btn btn-default" role="button" style="background-color: black; color: white">
                    Let's go light years In &raquo;
                </button>
            </a>
        </div>
    </div>

{% endblock %}